#Environment Variables
#Common file for use in various scripts
#Copy to .env before use.

##For Bootstraping
CA_URL="https://your-ca-domain.com"
CA_FINGERPRINT="Your-Secret-Fingerprint-Long-Number"

#For Adding a Host
JWK_PROVISIONER="Your-jwk-provisioner"
X5C_PROVISIONER="Your-x5c-provisioner"

##For initial CA installation
WITHCAURL=${CA_URL}
PROVISIONER1=yourjwtprov1
ADDRESS=123.123.123.123:443
NAME=exampleca
DNS1=example.com
DNS2=123.123.123.123
PASSWD1=.password-root.txt
PASSWD2=.password-prov1.txt

